extends layout

block content
  
  h2 #{title}

  div(class='grid-container category')        
    for item in list_items
      div(class="content-container category")     
        img(class="image category" src=item.image) 
        div(class='flex-container')
          a(href=item.url) #{item.name}
          a(href=item.url + '/update')
            img(class="icon" src="../images/update.svg")
          a(href=item.url + '/delete')
            img(class="icon" src="../images/delete.svg")

