extends layout

block content
  div(class='form-container')
    h2 #{title}
    form(method='POST', action=item.url+'/update')
      #form-group
        label Name:
        input.form-control(name='name', type='text', value=item.name)
      br
      #form-group
        label Description:
        textarea.form-control(name='description') #{item.description}
      br
      #form-group
        label Category:
        select(name='category')
          each category in categories 
            if (category.id === item.category.id) 
              option(value=category.name selected) #{category.name}
            else
              option(value=category.name) #{category.name}
      br
      #form-group
        label Price:
        input.form-control(name='price', type='text', value=item.price)
      br
      #form-group
        label Stock:
        input.form-control(name='stock', type='text', value=item.stock)                  
      br
      #form-group
        label Image URL:
        input.form-control(name='imageUrl', type='text', value=item.image)
      br
      #form-group
        label Admin Password:
        input.form-control(name='password', type='password')
      br
      input.btn.btn-primary(type='submit',value='Submit')

    if errors
     ul
      for error in errors
        li!= error.msg  